
{% extends 'base.html' %}

{% block content %}
        <table class="table table-bordered table-hover">
            <thead class="text-center text-bg-primary" >
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Stock</th>
                    <th>Daily Rate</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for movie in movies %}
                <tr>
                    
                    <td> 
                        <a class="text-decoration-none" href=" {% url 'movies:detail' movie.id %}">
                            {{movie.title}}  </td>
                    <td> {{movie.genre}} </td>
                    <td> {{movie.number_in_stock}} </td>
                    <td> {{movie.daily_rate}} </td>
                </tr>       
                {% endfor %}       
            </tbody>
            
        </table>
{% endblock  %}